<!DOCTYPE html>
<html>
@model brewstrWebApp.Models.User

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    @Styles.Render("~/Content/bootstrap/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Styles.css")

</head>
<body>
    <div class="navbar navbar-static-top">
        <nav class="navbar navbar-inverse">
            <div class="container>
                <div class=" navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="Home" title="Logo">
                    <img style="max-width:100px; margin-top: -7px;"
                         src="~/Images/brewstr_logo_white.png">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Login", "Index", "Login", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("About", "Index", "About", new { area = "" }, null)</li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="register" id="no-user">
                        <a href="#myModal" class="dialog-toggle" data-toggle="modal" role="button" data-target="#myModal" onfocus="blur()">Register</a>
                    </li>
                    <li class="dropdown pull-right" id="no-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu dropdown-menu-login">
                            <li>
                                <div id="login">
                                    <h1><strong>Welcome.</strong> Please login.</h1>

                                    <form action="../Login/User_Login" method="post">
                                        <fieldset>
                                            <p><input type="text" name="username" required value="Username" onblur="if(this.value=='')this.value='Username'" onfocus="if(this.value=='Username')this.value='' "></p>
                                            <p><input type="password" name="password" required value="Password" onblur="if(this.value=='')this.value='Password'" onfocus="if(this.value=='Password')this.value='' "></p>
                                            <p><a href="#">Forgot Password?</a></p>
                                            <p><input type="submit" value="Login" /></p>
                                            <script language="javascript">
                                            </script>
                                        </fieldset>
                                    </form>
                                    <script>
                                        sessionStorage.setItem("username", username);
                                        sessionStorage.setItem("password", password);
                                    </script>

                                </div> <!-- end login -->
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown pull-right" id="user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu dropdown-menu-login">
                            <li>
                                <div id="login">
                                    <h1><strong>Welcome Derek...Prick.</strong></h1>
                                </div> <!-- end login -->
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown pull-right" id="super-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu dropdown-menu-login">
                            <li>
                                <div id="login">
                                    <h1><strong>UBER USER.</strong></h1>
                                </div> <!-- end login -->
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
        <div class=" container body-content">
             @RenderBody()
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap/bootstrap")
    @RenderSection("scripts", required: false)
    <div class="panel-footer panel-custom">
        <br /><br />&nbsp &nbsp &nbsp
        <a href="https://twitter.com/thebrewstr"><i class="fa fa-twitter fa-2x" aria-hidden="true" style="color:white"></i></a> &nbsp &nbsp &nbsp
        <a href="https://www.facebook.com/brewstr/"><i class="fa fa-facebook fa-2x" style="color:white"></i></a>    &nbsp &nbsp &nbsp
        <a href="https://www.instagram.com/thebrewstr/"><i class="fa fa-instagram fa-2x" style="color:white"></i></a>    &nbsp &nbsp &nbsp
        <br><br>
        <font color="white">#TheBrewstr</font>
        <br />  
        <br>
    </div>

    <div id="myModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Register Account</h4>
                </div>
                <div class="modal-body">
                    <div id="register">
                        <form action="../RegisterAccount/User_Register" method="post">
                            <fieldset>
                                <p><input type="text" name="name" required value="Name" onblur="if(this.value=='')this.value='Name'" onfocus="if(this.value=='Name')this.value='' "></p>
                                <p><input type="text" name="username" required value="Username" onblur="if(this.value=='')this.value='Username'" onfocus="if(this.value=='Username')this.value='' "></p>
                                <p><input type="password" name="password" required value="Password" onblur="if(this.value=='')this.value='Password'" onfocus="if(this.value=='Password')this.value='' "></p>
                                <p><input type="text" name="email" required value="Email Address" onblur="if(this.value=='')this.value='Email Address'" onfocus="if(this.value=='Email Address')this.value='' "></p>
                                <p><input type="text" name="phone" required value="Phone Number" onblur="if(this.value=='')this.value='Phone Number'" onfocus="if(this.value=='Phone Number')this.value='' "></p>
                                <p><input type="submit" value="Register" /></p>
                                <script language="javascript">
                                </script>
                            </fieldset>
                        </form>
                    </div> <!-- end login -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
